import-normalize /* bring in normalize.css styles */

.image{
    width: 200px;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 798px;
    width: 100%;
    margin-top: 77px;
    margin-left: 150px;
}
.input-name-div{
    display: flex;
    max-width: 798px;
    width: 100%;
    justify-content:space-between;
}
.image-label{
    margin-top: 54px;
    width: 232px;
}
.text-label{
    margin-top: 54px;
}
.email-label{
    margin-top: 33px;
}
.number-label{
    margin-top: 33px;
}
input{
    margin-top: 8px;
    outline: none;
}
textarea{
    margin-top: 8px;
    outline: none;
}
.namediv{
    max-width: 371px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
input::placeholder{
    margin-left: 10px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 16px;
    top: 13px;
}
textarea::placeholder{
    left: 16px;
    top: 13px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
}
.input-name{
    max-width: 371px;
    width: 100%;
    height: 48px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.textarea{
    max-width: 798px;
    width: 100%;
    height: 103px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.input-email{
    max-width: 798px;
    width: 100%;
    height: 48px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.image-input-div{
    display: flex;
    align-items:baseline;
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
}
.image-input{
    display: none;
}
.button{
    width: 151px;
    height: 48px;
    background-color: #6B40E3;
    margin-top: 160px;
    margin-left: 647px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
button{
    cursor: pointer;
}
.red{
    border: red;
}
/* .image-input{ */
    /* display: none; */
/* } */
.image-button{
    width: 107px;
    height: 27px;
    background-color:#0E80BF;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
.name-criteria{
    line-height: 21px;
    font-size: 14px;
    color: #6d6c6c;
    margin-top: 8px;
    font-weight: 300;
    font-style: normal;
}
.back-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 16px;
    color:#2E2E2E ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wraper{
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 48px;
    margin-top: 47px;
}
.overlay{
    display: flex;
    max-width: 798px;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 25px;
    border-bottom: 1px solid  #1A1A1A;
}
.form-wraper{
    width: 100%;
}

.form-div{
    display: flex;
    background-color: #fafafa;
    max-width: 1098px;
    width: 100%;
    height: 1080px;
}
.cv-wraper{
    background-color: #fff;
    max-width: 822px;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
}
*{
    list-style: none;
}
/* step2 */
.exp-button{
    background: #62A1EB;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    border: none;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    color: #fff;
}
.button-back{
    background-color:#6B40E3;
    width: 113px;
    height: 48px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    color: #fff;
}
.buttons-div{
    display: flex;
    margin-top: 115px;
}
.button-next{
    margin-top: 0;
}
.line{
    max-width: 798px;
    width: 100%;
    height: 1px;
    background-color: #C1C1C1;
    margin-top: 58px;
}
.text{
    height: 123px;
}

/* home */
.home-wraper{
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-image: url(../src/images/shutterstock_2189773743\ 1\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    padding-top: 25px;
}
.redberry-img{
    width: 236px;
    height: 38px;
    object-fit: contain;
}
.home-image{
    position: absolute;
    max-width: 299px;
    width: 100%;
    height: 299px;
    object-fit: contain;
    top: 473px;
    right: 545px;
    mix-blend-mode: multiply;
}
.redberry-wraper{
    max-width: 1780px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #1A1A1A;
    margin: 0 auto;
}
.resium-link{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    max-width: 464px;
    width: 100%;
    height: 60px;
    background-color: #1A1A1A;
    border-radius: 8px;
    top: 424px;
    left: 50%;
    padding: 18px 60px 18px 60px;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}